<div class="container">
  <div class="row">
    <div class="row">
      <div class="col">
        <h1>{{ seance?.movie_title }}</h1>
        <h3>{{ seance?.date | date: 'medium' }}</h3>
      </div>
      <div class="col-2 float-end">
        <h3> Język: {{ seance?.audioLanguage.toString().toLowerCase()}}</h3>
      </div>
      <div class="col-2 float-end">
        <h3> Napisy: {{ (seance?.subtitle)? "Tak" : "Nie"}}</h3>
      </div>
      <div class="col-2 float-end">
        <h3> Sala: A</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 bg-light p-3">
      <div *ngIf="selectedSeats.length > 0">
        <div class="d-flex justify-content-center align-items-end mt-auto">
          <button class="btn btn-outline-secondary rounded-pill shadow-sm  " (click)="onReserveClicked()">Rezerwuj</button>
        </div>
        <h3>Wybrano: </h3>
        <h3 *ngFor="let seat of selectedSeats">rząd {{seat.row}}, miejsce {{seat.column}}</h3>
      </div>
    </div>
    <div class="col cent">
      <div class="screen bg-dark text-light text-center col-8 mb-3 ">
        Ekran kinowy
      </div>
      <table class="table">
        <tr *ngFor="let row of rows">
          <td *ngFor="let column of columns"
              [ngClass]="getSeatClasses(row, column)"
              (click)="onSeatClicked(row, column)">
            <div class="seat"></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
